<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>wastra_productList</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
   <link href="/logoAndFevicon/wastra.png" rel="icon">

    <!-- Google Web Fonts -->
    {{!--
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> --}}

    {{!--
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet"> --}}


    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Libraries Stylesheet -->
    <link href="/adminU/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/adminU/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/adminU/css/bootstrap.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <!-- Template Stylesheet -->
    <link href="/adminU/css/style.css" rel="stylesheet">
    {{!--
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/sp-2.1.2/datatables.min.css">
    <link href="/adminU/css/style.css" rel="stylesheet"> --}}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

        body {
            font-family: 'Jost', sans-serif;
        }
        .productName{
            max-width: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>

</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"></i>Administrator</h3>
                </a>
                <!-- <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span>
                    </div>
                </div> -->
                <div class="navbar-nav w-100">
                    <a href="/admin/admin_dashboard" class="nav-item nav-link active"></i>Home</a>
                    <a href="/admin/users" class="nav-item nav-link active"></i>User</a>
                    <a href="/admin/orders" class="nav-item nav-link active"></i>Order</a>
                    <a href="/admin/products" class="nav-item nav-link active"></i>Product</a>
                    <a href="/admin/catagories" class="nav-item nav-link active"></i>Category</a>
                    <a href="/admin/coupon" class="nav-item nav-link active"></i>Coupon</a>
                    <a href="/admin/banner" class="nav-item nav-link active"></i>Banner</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">


                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="adminU/img/user.jpg" alt=""
                                style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">Admin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="/admin/logout" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="col-sm-12">
                    <div class="bg-light rounded h-100 p-4" style="text-align:center">
                        {{#if productUpdated}}
                        <h4 id="updateOne" style="color:green">product added successfully</h4>
                        {{/if}}
                        {{#if productSave}}
                        <h4 id="saveOne" style="color:green">{{productSave}}</h4>
                        {{/if}}
                        <div class="d-flex justify-content-between align-items-center mb-4" style="display: flex;
  justify-content: center;">
                            <h6 class="mb-0" style="display: inline-block;margin-left: 23rem;display: flex;
  justify-content: center;">Product List</h6>
                            <button class="buttonstyle" style="width: 103px;
                                                               border: none;
                                                               height: 29px;
                                                               background-color: #009cff;
                                                               font-size:small;
                                                               border-radius:20px;">
                                <a href="/admin/add_product" class="linkstyle"><strong>Add Product +</strong></a>
                            </button>
                        </div>
                        <div class="table-responsive" style="font-size: small;">
                            <table id="MyTable" class="display" cellspacing="0" width="100%" style="font-size: small;">
                                <thead>
                                    <tr>
                                        <th scope="col">NO</th>
                                        <th scope="col">IMAGE</th>
                                        <th scope="col">NAME</th>
                                        <th scope="col">CATEGORY</th>
                                        <th scope="col">QUANTITY</th>
                                        <th scope="col">PRICE</th>
                                        <th scope="col" style="padding-left: 41px;">UPDATE</th>
                                        <th scope="col" style=" padding-left: 32px;">UNLIST</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each productData}}
                                    <tr scope="row">

                                        <td>{{incrementedIndex @index}}</td>

                                        <td>
                                            <img style="width: 40px; height: 40px;border-radius: 20px;"
                                                src="{{this.imageUrl.[0].url}}" alt="Product Image">
                                        </td>
                                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" class="productName">{{this.name}}</td>
                                        <td style="padding-left: 24px;">{{this.category.category}}</td>
                                        <td style="padding-left: 28px;"> {{this.stock}} </td>
                                        <td>{{this.price}}</td>
                                        <td> &nbsp;&nbsp;&nbsp; <button class="buttonstyle" style="width: 90px;
                                                        border: none;
                                                        height: 28px;
                                                        border-radius: 14px;
                                                        background-color: #009cff;"><a
                                                    href="/admin/edit_product/{{this._id}}" class="linkstyle">Edit</a>
                                            </button>
                                        </td>
                                        {{#if this.is_blocked}}
                                        <td> <button class="buttonstyle" style=" width: 98px;
                                                        border: none;
                                                        height: 28px;
                                                        background-color: #009cff;
                                                        border-radius: 33px;
                                                        padding-left: 5px;"><a href="/admin/manageProduct/{{this._id}}"
                                                    class="linkstyle" style="color:white;" !important>List</a>
                                            </button></td>
                                        {{else}}
                                        <td> <button class="buttonstyle" style="width: 98px;
                                                        border: none;
                                                        height: 28px;
                                                        background-color: #009cff;
                                                        border-radius: 33px;
                                                        padding-left: 5px;"><a href="/admin/manageProduct/{{this._id}}"
                                                    class="linkstyle">Unlist</a> </button></td>
                                        {{/if}}
                                    </tr>
                                    {{/each}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content End -->






            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/sp-2.1.2/datatables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
        </script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/adminU/lib/chart/chart.min.js"></script>
        <script src="/adminU/lib/easing/easing.min.js"></script>
        <script src="/adminU/lib/waypoints/waypoints.min.js"></script>
        <script src="/adminU/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/adminU/lib/tempusdominus/js/moment.min.js"></script>
        <script src="/adminU/lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="/adminU/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
        <script>var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        </script>
        <script>
            $(document).ready(function () {
                // Show the element
                $('#updateOne').show();

                // Set a timeout to hide the element after 3 seconds
                setTimeout(function () {
                    $('#updateOne').hide();
                }, 3000); // 3000 milliseconds = 3 seconds
            });
        </script>
        <script>
            $(document).ready(function () {
                // Show the element
                $('#saveOne').show();

                // Set a timeout to hide the element after 3 seconds
                setTimeout(function () {
                    $('#saveOne').hide();
                }, 3000); // 3000 milliseconds = 3 seconds
            });
        </script>
        <!-- Template Javascript -->
        <script src="/adminU/js/main.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.3.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#MyTable').DataTable({
                    initComplete: function () {
                        this.api().columns().every(function () {
                            var column = this;
                            var select = $('<select><option value=""></option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );
                                    //to select and search from grid  
                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        });
                    }
                });
            });  
        </script>
</body>

</html>