<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- belle/wishlist.html   11 Nov 2019 12:22:27 GMT -->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title> &ndash; wastra</title>
  <meta name="description" content="description">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Sweet alert -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.min.css">
  <!-- Favicon -->
  <link rel="shortcut icon" href="user_products/assets/images/favicon.png" />
  <!-- Plugins CSS -->
  <link rel="stylesheet" href="user_products/assets/css/plugins.css">
  <!-- Bootstap CSS -->
  <link rel="stylesheet" href="user_products/assets/css/bootstrap.min.css">
  <!-- Main Style CSS -->
  <link rel="stylesheet" href="user_products/assets/css/style.css">
  <link rel="stylesheet" href="user_products/assets/css/responsive.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet">
</head>

<body class="page-template belle">
  <div class="pageWrapper">
    <!--Search Form Drawer-->
    <div class="search">
      <div class="search__form">
        <form class="search-bar__form" action="#">
          <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
          <input class="search__input" type="search" name="q" value="" placeholder="Search entire store..."
            aria-label="Search" autocomplete="off">
        </form>
        <button type="button" class="search-trigger close-btn"><i class="icon anm anm-times-l"></i></button>
      </div>
    </div>
    <!--End Search Form Drawer-->
    <!--Header-->
    <div class="header-wrap animated d-flex">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!--Desktop Logo-->
          <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
            <a href="index.html">
              <img src="user_products/assets/images/logo.svg" alt="Belle Multipurpose Html Template"
                title="Belle Multipurpose Html Template" />
            </a>
          </div>
          <!--End Desktop Logo-->
          <div class="col-2 col-sm-3 col-md-3 col-lg-8">
            <div class="d-block d-lg-none">
              <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                <i class="icon anm anm-times-l"></i>
                <i class="anm anm-bars-r"></i>
              </button>
            </div>
            <!--Desktop Menu-->
            <nav class="grid__item" id="AccessibleNav"><!-- for mobile -->
              <ul id="siteNav" class="site-nav medium center hidearrow">
                <li class="lvl1 parent megamenu"><a href="/">Home <i class="anm anm-angle-down-l"></i></a></li>
                <li class="lvl1 parent megamenu"><a href="/shop_all_product">Shop <i
                      class="anm anm-angle-down-l"></i></a>
                </li>
                <li class="lvl1 parent megamenu"><a href="#">Contact Us<i class="anm anm-angle-down-l"></i></a></li>
                <li class="lvl1 parent dropdown"><a href="#"><i class="far fa-user-circle"></i> Account
                  </a>
                  <ul class="dropdown">
                    {{#if userData}}
                    <li>
                      <a href="/logout" class="site-nav">
                        <i class="fas fa-sign-in-alt fa-rotate-180"></i>
                        Log out
                      </a>
                    </li>
                    {{else}}
                    <li><a href="/login" class="site-nav"><i class="fas fa-sign-in-alt"></i> Log in</a>
                    </li>
                    {{/if}}


                </li>
                <li><a href="/user_profile" class="site-nav"><i class="fa fa-user"
                      aria-hidden="true"></i>&nbsp;Profile</a></li>
                <li><a href="/cart?id={{userData._id}}" class="site-nav"><i class="fas fa-shopping-cart"></i>
                    Cart</a>
                </li>
                <li><a href="/wishlist" class="site-nav"><i class="fas fa-heart"></i>
                    Wishlists</a></li>
              </ul>
              </ul>
            </nav>
            <!--End Desktop Menu-->
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
            <div class="logo">
              <a href="index.html">
                <img src="user_products/assets/images/logo.svg" alt="Belle Multipurpose Html Template"
                  title="Belle Multipurpose Html Template" />
              </a>
            </div>
          </div>
          <div class="col-4 col-sm-3 col-md-3 col-lg-2">
          </div>
        </div>
      </div>
    </div>
    <!--End Header-->
    <!--Mobile Menu-->
   <div class="mobile-nav-wrapper" role="navigation">
            <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Wastra Menu</div>
            <ul id="MobileNav" class="mobile-nav">
                {{#if userData}}
                <li class="lvl1 parent megamenu"><a href="/logout"><i class="fas fa-sign-in-alt fa-rotate-180"></i> Logout</a></li>
                <li class="lvl1 parent megamenu"><a href="/user_profile"><i class="fa fa-user" aria-hidden="true"></i> profile </a>
                <li class="lvl1 parent megamenu"><a href="/wishlist"><i class="fas fa-heart"></i> Wish List </a>
                <li class="lvl1 parent megamenu"><a href="/cart?id={{userData._id}}"><i class="fas fa-shopping-cart"></i> Cart </a>
                <li class="lvl1 parent megamenu"><a href=""> <i class=" fas fa-thin fa-wallet"></i> wallet : {{userData.wallet}} </a>
                {{else}}
                <li class="lvl1 parent megamenu"><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                {{/if}}
                
            </ul>
        </div>
    <!--End Mobile Menu-->

    <!--Body Content-->
    <div id="page-content">
      <!--Page Title-->
      <div class="page section-header text-center">
        <div class="page-title">
          <div class="wrapper">
            <h1 class="page-width">Wish List</h1>
          </div>
        </div>
      </div>
      <!--End Page Title-->

      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
            <form action="#">
              <div class="wishlist-table table-content table-responsive">
                <table class="table table-bordered">
                  {{message}}
                  <thead>
                    <tr>
                      <th class="product-name text-center alt-font">Remove</th>
                      <th class="product-price text-center alt-font">Images</th>
                      <th class="product-name alt-font">Product</th>
                      <th class="product-price text-center alt-font">Unit Price</th>
                      <th class="stock-status text-center alt-font">Stock Status</th>
                      <th class="product-subtotal text-center alt-font">Add to Cart</th>
                    </tr>
                  </thead>
                  <tbody>






                    {{#each wishlistItems}}


                    <tr>
                      <td class="product-remove text-center" valign="middle"
                        onclick="removeFromWishlist('{{this._id}}')"><a href="#"><i
                            class="icon icon anm anm-times-l"></i></a></td>

                      {{!-- <td class="product-thumbnail text-center">
                        <a href="/uploads/{{this.imageUrl.[0]}}" alt="" title="" />{{this.imageUrl.[0]}}</a>
                      </td> --}}
                      <td class="product-thumbnail text-center">
                        <a href="#"><img src="{{this.imageUrl.[0].url}}" alt="" title="" /></a>
                      </td>
                      <td class="product-name">
                        <h4 class="no-margin"><a href="#">{{this.name}}</a></h4>
                      </td>
                      <td class="product-price text-center"><span class="amount">{{this.price}} </span></td>
                      {{#if this.stock}}
                      <td class="stock text-center">
                        <span class="in-stock">in stock</span>
                      </td>
                      <td class="product-subtotal text-center">
                        <button type="button" class="btn btn-small" onclick="moveToCart('{{this._id}}')">Add To
                          Cart</button>
                      </td>

                      {{else}}
                      <td class="stock text-center">
                        <span class="in-stock">Out of stock</span>
                      </td>
                      <td class="product-subtotal text-center">
                        <button type="button" class="btn btn-small">Out of stock</button>
                      </td>
                    </tr>

                    {{/if}}
                    {{/each}}

                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
    <!--End Body Content-->

    <!--Footer-->
    <footer id="footer">
      <div class="newsletter-section">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 w-100 d-flex justify-content-start align-items-center">
              <div class="display-table">
                <div class="display-table-cell footer-newsletter">
                  <div class="section-header text-center">
                    <label class="h2"><span>sign up for </span>newsletter</label>
                  </div>
                  <form action="#" method="post">
                    <div class="input-group">
                      <input type="email" class="input-group__field newsletter__input" name="EMAIL" value=""
                        placeholder="Email address" required="">
                      <span class="input-group__btn">
                        <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe"><span
                            class="newsletter__submit-text--large">Subscribe</span></button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-5 d-flex justify-content-end align-items-center">
              <div class="footer-social">
                <ul class="list--inline site-footer__social-icons social-icons">
                  <li><a class="social-icons__link" href="#" target="_blank"
                      title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i class="icon icon-facebook"></i></a>
                  </li>
                  <li><a class="social-icons__link" href="#" target="_blank"
                      title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i class="icon icon-twitter"></i> <span
                        class="icon__fallback-text">Twitter</span></a></li>
                  <li><a class="social-icons__link" href="#" target="_blank"
                      title="Belle Multipurpose Bootstrap 4 Template on Pinterest"><i class="icon icon-pinterest"></i>
                      <span class="icon__fallback-text">Pinterest</span></a></li>
                  <li><a class="social-icons__link" href="#" target="_blank"
                      title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i class="icon icon-instagram"></i>
                      <span class="icon__fallback-text">Instagram</span></a></li>
                  <li><a class="social-icons__link" href="#" target="_blank"
                      title="Belle Multipurpose Bootstrap 4 Template on Tumblr"><i class="icon icon-tumblr-alt"></i>
                      <span class="icon__fallback-text">Tumblr</span></a></li>
                  <li><a class="social-icons__link" href="#" target="_blank"
                      title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i class="icon icon-youtube"></i> <span
                        class="icon__fallback-text">YouTube</span></a></li>
                  <li><a class="social-icons__link" href="#" target="_blank"
                      title="Belle Multipurpose Bootstrap 4 Template on Vimeo"><i class="icon icon-vimeo-alt"></i> <span
                        class="icon__fallback-text">Vimeo</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="site-footer">
        <div class="container">
          <!--Footer Links-->
          <div class="footer-top">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                <h4 class="h4">Quick Shop</h4>
                <ul>
                  <li><a href="#">Women</a></li>
                  <li><a href="#">Men</a></li>
                  <li><a href="#">Kids</a></li>
                  <li><a href="#">Sportswear</a></li>
                  <li><a href="#">Sale</a></li>
                </ul>
              </div>
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                <h4 class="h4">Informations</h4>
                <ul>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Privacy policy</a></li>
                  <li><a href="#">Terms &amp; condition</a></li>
                  <li><a href="#">My Account</a></li>
                </ul>
              </div>
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                <h4 class="h4">Customer Services</h4>
                <ul>
                  <li><a href="#">Request Personal Data</a></li>
                  <li><a href="#">FAQ's</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Orders and Returns</a></li>
                  <li><a href="#">Support Center</a></li>
                </ul>
              </div>
              <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                <h4 class="h4">Contact Us</h4>
                <ul class="addressFooter">
                  <li><i class="icon anm anm-map-marker-al"></i>
                    <p>55 Gallaxy Enque,<br>2568 steet, 23568 NY</p>
                  </li>
                  <li class="phone"><i class="icon anm anm-phone-s"></i>
                    <p>(440) 000 000 0000</p>
                  </li>
                  <li class="email"><i class="icon anm anm-envelope-l"></i>
                    <p>sales@yousite.com</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--End Footer Links-->
          <hr>
          <div class="footer-bottom">
            <div class="row">
              <!--Footer Copyright-->
              <div
                class="col-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-0 order-lg-0 order-sm-1 copyright text-sm-center text-md-left text-lg-left">
                <span></span> <a href="templateshub.net">Templates Hub</a>
              </div>
              <!--End Footer Copyright-->
              <!--Footer Payment Icon-->
              <div
                class="col-12 col-sm-12 col-md-6 col-lg-6 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-right text-md-center">
                <ul class="payment-icons list--inline">
                  <li><i class="icon fa fa-cc-visa" aria-hidden="true"></i></li>
                  <li><i class="icon fa fa-cc-mastercard" aria-hidden="true"></i></li>
                  <li><i class="icon fa fa-cc-discover" aria-hidden="true"></i></li>
                  <li><i class="icon fa fa-cc-paypal" aria-hidden="true"></i></li>
                  <li><i class="icon fa fa-cc-amex" aria-hidden="true"></i></li>
                  <li><i class="icon fa fa-credit-card" aria-hidden="true"></i></li>
                </ul>
              </div>
              <!--End Footer Payment Icon-->
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--End Footer-->
    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.min.js"></script>
    <script>
      const moveToCart = async (productId) => {
        try {

          const response = await fetch(`/addToCartFromWishlist?productId=${productId}`, {
            method: 'GET',
            headers: {
              'content-Type': 'application/json'
            }
          })

          const data = await response.json()

          if (data.message === "Moved to cart from wishlist") {
            Swal.fire({
              position: "center",
              icon: "success",
              title: "Product is moved to cart",
              showConfirmButton: true,
              confirmButtonColor: "#00A300",
            });
            location.reload();
            document.getElementById('row' + productId).innerHTML = ''

          } else if (data.message === "Product is already in cart!!") {
            Swal.fire({
              position: "center",
              icon: "warning",
              title: "Product is already in cart",
              showConfirmButton: true,
              confirmButtonColor: "#00A300",
            });
          } else if (data.message === "Error Occured!") {
            Swal.fire({
              position: "center",
              icon: "warning",
              title: "Something error happened",
              showConfirmButton: true,
              confirmButtonColor: "#00A300",
            });
          }

        } catch (error) {
          console.log(error.message);
        }
      }
    </script>


    <script>
      const removeFromWishlist = async (productId) => {

        const result = await Swal.fire({
          title: 'Remove item from wishlist',
          text: 'Do you want to remove this\nproduct from your wishlist?',
          icon: 'question',
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: 'Yes, remove',
        });

        if (result.value) {

          const response = await fetch(`/removeWishlist?productId=${productId}`, {
            method: 'GET',
            headers: {
              'Content-Type': "application/json",
            }
          })

          if (response.ok) {
            Swal.fire({
              icon: "success",
              title: "Product has been removed successfully",
              showConfirmButton: true,
              confirmButtonText: "OK",
              confirmButtonColor: "#4CAF50"


            });
            location.reload();
            document.getElementById('row' + productId).innerHTML = ''

          } else {
            Swal.fire({
              icon: "warning",
              title: "Somthing error!!",
              showConfirmButton: true,
              confirmButtonText: "DISMISS",
              confirmButtonColor: "#D22B2B"

            });
          }

        }

      }
    </script>




    <!-- Including Jquery -->
    <script src="user_products/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="user_products/assets/js/vendor/jquery.cookie.js"></script>
    <script src="user_products/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="user_products/assets/js/vendor/wow.min.js"></script>
    <!-- Including Javascript -->
    <script src="user_products/assets/js/bootstrap.min.js"></script>
    <script src="user_products/assets/js/plugins.js"></script>
    <script src="user_products/assets/js/popper.min.js"></script>
    <script src="user_products/assets/js/lazysizes.js"></script>
    <script src="user_products/assets/js/main.js"></script>
  </div>
</body>

<!-- belle/wishlist.html   11 Nov 2019 12:22:27 GMT -->

</html>